In [1]:
pip install --upgrade ipython jupyter

Requirement already up-to-date: ipython in /srv/conda/envs/notebook/lib/python3.6/site-packages (7.16.1)
Collecting jupyter
  Downloading jupyter-1.0.0-py2.py3-none-any.whl (2.7 kB)
Requirement already satisfied, skipping upgrade: pygments in /srv/conda/envs/notebook/lib/python3.6/site-packages (from ipython) (2.6.1)
Requirement already satisfied, skipping upgrade: pickleshare in /srv/conda/envs/notebook/lib/python3.6/site-packages (from ipython) (0.7.5)
Requirement already satisfied, skipping upgrade: decorator in /srv/conda/envs/notebook/lib/python3.6/site-packages (from ipython) (4.4.2)
Requirement already satisfied, skipping upgrade: backcall in /srv/conda/envs/notebook/lib/python3.6/site-packages (from ipython) (0.2.0)
Requirement already satisfied, skipping upgrade: traitlets>=4.2 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from ipython) (4.3.3)
Requirement already satisfied, skipping upgrade: pexpect; sys_platform != "win32" in /srv/conda/envs/notebook/lib/python3.6/site-packages (from ipython) (4.8.0)
Requirement already satisfied, skipping upgrade: setuptools>=18.5 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from ipython) (49.2.0.post20200712)
Requirement already satisfied, skipping upgrade: jedi>=0.10 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from ipython) (0.17.2)
Requirement already satisfied, skipping upgrade: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from ipython) (3.0.5)
Collecting jupyter-console
  Downloading jupyter_console-6.2.0-py3-none-any.whl (22 kB)
Requirement already satisfied, skipping upgrade: notebook in /srv/conda/envs/notebook/lib/python3.6/site-packages (from jupyter) (6.0.3)
Requirement already satisfied, skipping upgrade: ipywidgets in /srv/conda/envs/notebook/lib/python3.6/site-packages (from jupyter) (7.5.1)
Collecting qtconsole
  Downloading qtconsole-4.7.7-py2.py3-none-any.whl (118 kB)
     |████████████████████████████████| 118 kB 4.1 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: nbconvert in /srv/conda/envs/notebook/lib/python3.6/site-packages (from jupyter) (5.6.1)
Requirement already satisfied, skipping upgrade: ipykernel in /srv/conda/envs/notebook/lib/python3.6/site-packages (from jupyter) (5.3.4)
Requirement already satisfied, skipping upgrade: six in /srv/conda/envs/notebook/lib/python3.6/site-packages (from traitlets>=4.2->ipython) (1.15.0)
Requirement already satisfied, skipping upgrade: ipython-genutils in /srv/conda/envs/notebook/lib/python3.6/site-packages (from traitlets>=4.2->ipython) (0.2.0)
Requirement already satisfied, skipping upgrade: ptyprocess>=0.5 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from pexpect; sys_platform != "win32"->ipython) (0.6.0)
Requirement already satisfied, skipping upgrade: parso<0.8.0,>=0.7.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from jedi>=0.10->ipython) (0.7.1)
Requirement already satisfied, skipping upgrade: wcwidth in /srv/conda/envs/notebook/lib/python3.6/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)
Requirement already satisfied, skipping upgrade: jupyter-client in /srv/conda/envs/notebook/lib/python3.6/site-packages (from jupyter-console->jupyter) (6.1.6)
Requirement already satisfied, skipping upgrade: terminado>=0.8.1 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from notebook->jupyter) (0.8.3)
Requirement already satisfied, skipping upgrade: jupyter-core>=4.6.1 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from notebook->jupyter) (4.6.3)
Requirement already satisfied, skipping upgrade: Send2Trash in /srv/conda/envs/notebook/lib/python3.6/site-packages (from notebook->jupyter) (1.5.0)
Requirement already satisfied, skipping upgrade: prometheus-client in /srv/conda/envs/notebook/lib/python3.6/site-packages (from notebook->jupyter) (0.8.0)
Requirement already satisfied, skipping upgrade: pyzmq>=17 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from notebook->jupyter) (19.0.1)
Requirement already satisfied, skipping upgrade: jinja2 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from notebook->jupyter) (2.11.2)
Requirement already satisfied, skipping upgrade: nbformat in /srv/conda/envs/notebook/lib/python3.6/site-packages (from notebook->jupyter) (5.0.7)
Requirement already satisfied, skipping upgrade: tornado>=5.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from notebook->jupyter) (6.0.4)
Requirement already satisfied, skipping upgrade: widgetsnbextension~=3.5.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from ipywidgets->jupyter) (3.5.1)
Collecting qtpy
  Downloading QtPy-1.9.0-py2.py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 2.7 MB/s eta 0:00:011
Requirement already satisfied, skipping upgrade: defusedxml in /srv/conda/envs/notebook/lib/python3.6/site-packages (from nbconvert->jupyter) (0.6.0)
Requirement already satisfied, skipping upgrade: bleach in /srv/conda/envs/notebook/lib/python3.6/site-packages (from nbconvert->jupyter) (3.1.5)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from nbconvert->jupyter) (1.4.2)
Requirement already satisfied, skipping upgrade: testpath in /srv/conda/envs/notebook/lib/python3.6/site-packages (from nbconvert->jupyter) (0.4.4)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from nbconvert->jupyter) (0.3)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from nbconvert->jupyter) (0.8.4)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from jupyter-client->jupyter-console->jupyter) (2.8.1)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from jinja2->notebook->jupyter) (1.1.1)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from nbformat->notebook->jupyter) (3.2.0)
Requirement already satisfied, skipping upgrade: webencodings in /srv/conda/envs/notebook/lib/python3.6/site-packages (from bleach->nbconvert->jupyter) (0.5.1)
Requirement already satisfied, skipping upgrade: packaging in /srv/conda/envs/notebook/lib/python3.6/site-packages (from bleach->nbconvert->jupyter) (20.4)
Requirement already satisfied, skipping upgrade: importlib-metadata; python_version < "3.8" in /srv/conda/envs/notebook/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook->jupyter) (1.7.0)
Requirement already satisfied, skipping upgrade: attrs>=17.4.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook->jupyter) (19.3.0)
Requirement already satisfied, skipping upgrade: pyrsistent>=0.14.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook->jupyter) (0.16.0)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from packaging->bleach->nbconvert->jupyter) (2.4.7)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat->notebook->jupyter) (3.1.0)
Installing collected packages: jupyter-console, qtpy, qtconsole, jupyter
Successfully installed jupyter-1.0.0 jupyter-console-6.2.0 qtconsole-4.7.7 qtpy-1.9.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install Keras

Collecting Keras
  Downloading Keras-2.4.3-py2.py3-none-any.whl (36 kB)
Collecting h5py
  Downloading h5py-2.10.0-cp36-cp36m-manylinux1_x86_64.whl (2.9 MB)
     |████████████████████████████████| 2.9 MB 6.9 MB/s eta 0:00:01
Requirement already satisfied: scipy>=0.14 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from Keras) (1.5.2)
Requirement already satisfied: numpy>=1.9.1 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from Keras) (1.19.1)
Requirement already satisfied: pyyaml in /srv/conda/envs/notebook/lib/python3.6/site-packages (from Keras) (5.3.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.6/site-packages (from h5py->Keras) (1.15.0)
Installing collected packages: h5py, Keras
Successfully installed Keras-2.4.3 h5py-2.10.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.3.1-cp36-cp36m-manylinux2010_x86_64.whl (320.4 MB)
     |████████████████████████████████| 320.4 MB 18 kB/s s eta 0:00:01| 258.3 MB 35.6 MB/s eta 0:00:02��█████████████▎    | 273.0 MB 29.8 MB/s eta 0:00:02ta 0:00:01ta 0:00:01�█▊ | 307.3 MB 25.8 MB/s eta 0:00:01
Collecting astunparse==1.6.3
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting gast==0.3.3
  Downloading gast-0.3.3-py2.py3-none-any.whl (9.7 kB)
Collecting google-pasta>=0.1.8
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 6.4 MB/s  eta 0:00:01
Collecting numpy<1.19.0,>=1.16.0
  Downloading numpy-1.18.5-cp36-cp36m-manylinux1_x86_64.whl (20.1 MB)
     |████████████████████████████████| 20.1 MB 8.6 kB/s  eta 0:00:01     |██████████████████████          | 13.8 MB 36.6 MB/s eta 0:00:01��████▋ | 19.3 MB 36.6 MB/s eta 0:00:01
Collecting termcolor>=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 5.0 MB/s  eta 0:00:01
Requirement already satisfied: wheel>=0.26 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from tensorflow) (0.34.2)
Collecting keras-preprocessing<1.2,>=1.1.1
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.3 MB/s  eta 0:00:01
Collecting wrapt>=1.11.1
  Downloading wrapt-1.12.1.tar.gz (27 kB)
Collecting grpcio>=1.8.6
  Downloading grpcio-1.32.0-cp36-cp36m-manylinux2014_x86_64.whl (3.8 MB)
     |████████████████████████████████| 3.8 MB 43.1 MB/s eta 0:00:01
Requirement already satisfied: six>=1.12.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from tensorflow) (1.15.0)
Collecting tensorboard<3,>=2.3.0
  Downloading tensorboard-2.3.0-py3-none-any.whl (6.8 MB)
     |████████████████████████████████| 6.8 MB 25.4 MB/s eta 0:00:01��████    | 6.0 MB 25.4 MB/s eta 0:00:01
Collecting absl-py>=0.7.0
  Downloading absl_py-0.10.0-py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 57.0 MB/s eta 0:00:01
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from tensorflow) (2.10.0)
Collecting tensorflow-estimator<2.4.0,>=2.3.0
  Downloading tensorflow_estimator-2.3.0-py2.py3-none-any.whl (459 kB)
     |████████████████████████████████| 459 kB 36.4 MB/s eta 0:00:01
Collecting protobuf>=3.9.2
  Downloading protobuf-3.13.0-cp36-cp36m-manylinux1_x86_64.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 37.5 MB/s eta 0:00:01
Requirement already satisfied: requests<3,>=2.21.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from tensorboard<3,>=2.3.0->tensorflow) (2.24.0)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.1-py2.py3-none-any.whl (18 kB)
Collecting markdown>=2.6.8
  Downloading Markdown-3.2.2-py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 7.1 MB/s  eta 0:00:01
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.7.0-py3-none-any.whl (779 kB)
     |████████████████████████████████| 779 kB 48.1 MB/s eta 0:00:01
Requirement already satisfied: setuptools>=41.0.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from tensorboard<3,>=2.3.0->tensorflow) (49.2.0.post20200712)
Collecting google-auth<2,>=1.6.3
  Downloading google_auth-1.21.3-py2.py3-none-any.whl (93 kB)
     |████████████████████████████████| 93 kB 2.5 MB/s  eta 0:00:01
Collecting werkzeug>=0.11.15
  Downloading Werkzeug-1.0.1-py2.py3-none-any.whl (298 kB)
     |████████████████████████████████| 298 kB 46.9 MB/s eta 0:00:01
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (1.25.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (2.10)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /srv/conda/envs/notebook/lib/python3.6/site-packages (from markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow) (1.7.0)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
     |████████████████████████████████| 155 kB 19.9 MB/s eta 0:00:01
Collecting rsa<5,>=3.1.4; python_version >= "3.5"
  Downloading rsa-4.6-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.6 MB/s  eta 0:00:01
Collecting cachetools<5.0,>=2.0.0
  Downloading cachetools-4.1.1-py3-none-any.whl (10 kB)
Requirement already satisfied: oauthlib>=3.0.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow) (3.0.1)
Requirement already satisfied: zipp>=0.5 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow) (3.1.0)
Collecting pyasn1<0.5.0,>=0.4.6
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 6.7 MB/s  eta 0:00:01
Building wheels for collected packages: termcolor, wrapt
  Building wheel for termcolor (setup.py) ... done
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4830 sha256=acb0eeab016706fc4e566d986b4a155fb5262c9095b4e263f5187544ce20746c
  Stored in directory: /home/jovyan/.cache/pip/wheels/93/2a/eb/e58dbcbc963549ee4f065ff80a59f274cc7210b6eab962acdc
  Building wheel for wrapt (setup.py) ... done
  Created wheel for wrapt: filename=wrapt-1.12.1-cp36-cp36m-linux_x86_64.whl size=69741 sha256=7020b4e70c583be1290a65b152d1c2d01c4cbf1b28404eb0d97bb5d7db950b0d
  Stored in directory: /home/jovyan/.cache/pip/wheels/32/42/7f/23cae9ff6ef66798d00dc5d659088e57dbba01566f6c60db63
Successfully built termcolor wrapt
Installing collected packages: astunparse, gast, google-pasta, numpy, termcolor, opt-einsum, keras-preprocessing, wrapt, grpcio, requests-oauthlib, pyasn1, pyasn1-modules, rsa, cachetools, google-auth, google-auth-oauthlib, markdown, absl-py, tensorboard-plugin-wit, protobuf, werkzeug, tensorboard, tensorflow-estimator, tensorflow
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.1
    Uninstalling numpy-1.19.1:
      Successfully uninstalled numpy-1.19.1
Successfully installed absl-py-0.10.0 astunparse-1.6.3 cachetools-4.1.1 gast-0.3.3 google-auth-1.21.3 google-auth-oauthlib-0.4.1 google-pasta-0.2.0 grpcio-1.32.0 keras-preprocessing-1.1.2 markdown-3.2.2 numpy-1.18.5 opt-einsum-3.3.0 protobuf-3.13.0 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.0 rsa-4.6 tensorboard-2.3.0 tensorboard-plugin-wit-1.7.0 tensorflow-2.3.1 tensorflow-estimator-2.3.0 termcolor-1.1.0 werkzeug-1.0.1 wrapt-1.12.1
Note: you may need to restart the kernel to use updated packages.

In [25]:
import pandas as pd
from sklearn import preprocessing
from numpy import set_printoptions
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_classif
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
from keras.optimizers import Adam
from sklearn.metrics import classification_report

In [55]:
url="https://bd29ee0e-54ab-4daa-9671-d153865d1620.usrfiles.com/ugd/bd29ee_8169881c7d924e8bac3b7a024f49317c.csv"
df=pd.read_csv(url)
df.head()

,id,reason_for_absence,month_of_absence,day_of__the_week,seasons,transportation_expense,distance_from_residence_to_work,service_time,age,work_load,...,education,son,social_drinker,social_smoker,pet,weight,height,body_mass_index,absenteeism_time_in_hours,absenteeism_category
0,11,26,7,3,1,289,36,13,33,239.554,...,1,2,1,0,1,90,172,30,4,1
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,0,0,98,178,31,0,0
2,3,23,7,4,1,179,51,18,38,239.554,...,1,0,1,0,0,89,170,31,2,1
3,7,7,7,5,1,279,5,14,39,239.554,...,1,2,1,1,0,68,168,24,4,1
4,11,23,7,5,1,289,36,13,33,239.554,...,1,2,1,0,1,90,172,30,2,1

In [56]:
df=df.drop(["id","reason_for_absence","absenteeism_time_in_hours"],axis=1)
df.head()

,month_of_absence,day_of__the_week,seasons,transportation_expense,distance_from_residence_to_work,service_time,age,work_load,hit_target,disciplinary_failure,education,son,social_drinker,social_smoker,pet,weight,height,body_mass_index,absenteeism_category
0,7,3,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,1
1,7,3,1,118,13,18,50,239.554,97,1,1,1,1,0,0,98,178,31,0
2,7,4,1,179,51,18,38,239.554,97,0,1,0,1,0,0,89,170,31,1
3,7,5,1,279,5,14,39,239.554,97,0,1,2,1,1,0,68,168,24,1
4,7,5,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,1

In [57]:
X=df.drop(["absenteeism_category"],axis=1)
X.head()

,month_of_absence,day_of__the_week,seasons,transportation_expense,distance_from_residence_to_work,service_time,age,work_load,hit_target,disciplinary_failure,education,son,social_drinker,social_smoker,pet,weight,height,body_mass_index
0,7,3,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30
1,7,3,1,118,13,18,50,239.554,97,1,1,1,1,0,0,98,178,31
2,7,4,1,179,51,18,38,239.554,97,0,1,0,1,0,0,89,170,31
3,7,5,1,279,5,14,39,239.554,97,0,1,2,1,1,0,68,168,24
4,7,5,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30

In [58]:
names=X.columns
scaler=preprocessing.StandardScaler()
X=scaler.fit_transform(X)
X=pd.DataFrame(X, columns=names)
X

,month_of_absence,day_of__the_week,seasons,transportation_expense,distance_from_residence_to_work,service_time,age,work_load,hit_target,disciplinary_failure,education,son,social_drinker,social_smoker,pet,weight,height,body_mass_index
0,0.196763,-0.643947,-1.390175,1.011408,0.429556,0.101770,-0.532868,-0.818212,0.638686,-0.239046,-0.433857,0.893723,0.872872,-0.280566,0.192850,0.851673,-0.019046,0.775932
1,0.196763,-0.643947,-1.390175,-1.544379,-1.121694,1.242825,2.092860,-0.818212,0.638686,4.183300,-0.433857,-0.017234,0.872872,-0.280566,-0.566240,1.473056,0.975828,1.009438
2,0.196763,0.059924,-1.390175,-0.632665,1.441240,1.242825,0.239405,-0.818212,0.638686,-0.239046,-0.433857,-0.928191,0.872872,-0.280566,-0.566240,0.774000,-0.350671,1.009438
3,0.196763,0.763796,-1.390175,0.861947,-1.661258,0.329981,0.393859,-0.818212,0.638686,-0.239046,-0.433857,0.893723,0.872872,3.564226,-0.566240,-0.857131,-0.682295,-0.625100
4,0.196763,0.763796,-1.390175,1.011408,0.429556,0.101770,-0.532868,-0.818212,0.638686,-0.239046,-0.433857,0.893723,0.872872,-0.280566,0.192850,0.851673,-0.019046,0.775932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,0.196763,-0.643947,-1.390175,1.011408,0.429556,0.101770,-0.532868,-0.176427,-0.420423,-0.239046,-0.433857,0.893723,0.872872,-0.280566,0.192850,0.851673,-0.019046,0.775932
736,0.196763,-0.643947,-1.390175,0.204318,-1.256585,0.329981,0.084950,-0.176427,-0.420423,-0.239046,2.538869,-0.017234,-1.145644,-0.280566,0.192850,0.696327,-0.019046,0.542427
737,-1.841698,-0.643947,-1.390175,-1.544379,-1.054248,0.101770,0.548314,-0.006949,0.109131,-0.239046,-0.433857,-0.017234,0.872872,-0.280566,5.506478,1.473056,-0.350671,1.709954
738,-1.841698,0.059924,-0.490149,0.144533,0.362110,0.329981,0.393859,-0.006949,0.109131,-0.239046,-0.433857,0.893723,0.872872,-0.280566,0.951940,1.628402,-0.350671,1.943459
739,-1.841698,1.467667,0.409877,-0.632665,1.036566,0.329981,2.556224,-0.006949,0.109131,-0.239046,-0.433857,-0.017234,-1.145644,-0.280566,0.192850,-0.158075,0.478391,-0.391595

In [59]:
y=df[["absenteeism_category"]]
y.head()

   absenteeism_category
0                     1
1                     0
2                     1
3                     1
4                     1

In [60]:
test = SelectKBest(score_func=mutual_info_classif, k="all")
fit = test.fit(X, y)
features = fit.transform(X)
set_printoptions(precision=3)

scores=fit.scores_
scores=pd.DataFrame(scores)
scores=scores.rename(columns={0:"scores"})
scores=scores.sort_values(by=["scores"],ascending=False).nlargest(6,"scores")
scores

/srv/conda/envs/notebook/lib/python3.6/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

      scores
9   0.310792
12  0.117018
10  0.090190
7   0.077699
1   0.074096
6   0.066335

In [61]:
X=X.iloc[:,scores.index]
X.head()

,disciplinary_failure,social_drinker,education,work_load,day_of__the_week,age
0,-0.239046,0.872872,-0.433857,-0.818212,-0.643947,-0.532868
1,4.183300,0.872872,-0.433857,-0.818212,-0.643947,2.092860
2,-0.239046,0.872872,-0.433857,-0.818212,0.059924,0.239405
3,-0.239046,0.872872,-0.433857,-0.818212,0.763796,0.393859
4,-0.239046,0.872872,-0.433857,-0.818212,0.763796,-0.532868

In [62]:
enc = OneHotEncoder(handle_unknown='ignore')
y=pd.DataFrame(enc.fit_transform(y).toarray())
y.head()

     0    1    2    3    4    5    6
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  0.0  1.0  0.0  0.0  0.0  0.0  0.0

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.135, random_state=42)
print(X_train.shape)
print(X_test.shape)

(640, 6)
(100, 6)

In [77]:
length=X_test.shape[1]
length

6

In [78]:
length=X_train.shape[1]
num_classes=y_test.shape[1]
num_classes

7

In [82]:
def classification_model():
    # create model
    model = Sequential()
    model.add(Dense(length, activation='relu',kernel_initializer="uniform", input_shape=(length,)))
    model.add(Dense(200, activation='relu',kernel_initializer="uniform"))
    model.add(Dense(200, activation='relu',kernel_initializer="uniform"))
    model.add(Dense(200, activation='relu',kernel_initializer="uniform"))
    model.add(Dense(200, activation='relu',kernel_initializer="uniform"))
    model.add(Dense(num_classes, activation='softmax'))
    opt=Adam(lr=0.001)
    model.compile(optimizer=opt, loss='categorical_crossentropy', metrics=['accuracy'])
    return model

In [83]:
model=classification_model()
model.fit(X_train,y_train,validation_data=(X_test, y_test),epochs=50, verbose=2)
model.evaluate(X_test,y_test,verbose=0)

Epoch 1/50
20/20 - 0s - loss: 1.5526 - accuracy: 0.8125 - val_loss: 0.6280 - val_accuracy: 0.8600
Epoch 2/50
20/20 - 0s - loss: 0.7331 - accuracy: 0.8547 - val_loss: 0.6344 - val_accuracy: 0.8600
Epoch 3/50
20/20 - 0s - loss: 0.6511 - accuracy: 0.8547 - val_loss: 0.5947 - val_accuracy: 0.8600
Epoch 4/50
20/20 - 0s - loss: 0.6265 - accuracy: 0.8547 - val_loss: 0.5744 - val_accuracy: 0.8600
Epoch 5/50
20/20 - 0s - loss: 0.6163 - accuracy: 0.8547 - val_loss: 0.5708 - val_accuracy: 0.8600
Epoch 6/50
20/20 - 0s - loss: 0.6004 - accuracy: 0.8547 - val_loss: 0.5456 - val_accuracy: 0.8600
Epoch 7/50
20/20 - 0s - loss: 0.5881 - accuracy: 0.8547 - val_loss: 0.5502 - val_accuracy: 0.8600
Epoch 8/50
20/20 - 0s - loss: 0.5815 - accuracy: 0.8547 - val_loss: 0.5168 - val_accuracy: 0.8600
Epoch 9/50
20/20 - 0s - loss: 0.5734 - accuracy: 0.8547 - val_loss: 0.5068 - val_accuracy: 0.8600
Epoch 10/50
20/20 - 0s - loss: 0.5719 - accuracy: 0.8547 - val_loss: 0.4949 - val_accuracy: 0.8600
Epoch 11/50
20/20 - 0s - loss: 0.5658 - accuracy: 0.8547 - val_loss: 0.4919 - val_accuracy: 0.8600
Epoch 12/50
20/20 - 0s - loss: 0.5543 - accuracy: 0.8547 - val_loss: 0.4830 - val_accuracy: 0.8600
Epoch 13/50
20/20 - 0s - loss: 0.5423 - accuracy: 0.8547 - val_loss: 0.4562 - val_accuracy: 0.8600
Epoch 14/50
20/20 - 0s - loss: 0.5427 - accuracy: 0.8547 - val_loss: 0.4465 - val_accuracy: 0.8600
Epoch 15/50
20/20 - 0s - loss: 0.5307 - accuracy: 0.8547 - val_loss: 0.4627 - val_accuracy: 0.8600
Epoch 16/50
20/20 - 0s - loss: 0.5577 - accuracy: 0.8547 - val_loss: 0.4325 - val_accuracy: 0.8600
Epoch 17/50
20/20 - 0s - loss: 0.5262 - accuracy: 0.8969 - val_loss: 0.4444 - val_accuracy: 0.9300
Epoch 18/50
20/20 - 0s - loss: 0.5163 - accuracy: 0.9047 - val_loss: 0.4503 - val_accuracy: 0.9400
Epoch 19/50
20/20 - 0s - loss: 0.5157 - accuracy: 0.9047 - val_loss: 0.4756 - val_accuracy: 0.9400
Epoch 20/50
20/20 - 0s - loss: 0.5216 - accuracy: 0.9047 - val_loss: 0.4815 - val_accuracy: 0.9400
Epoch 21/50
20/20 - 0s - loss: 0.5061 - accuracy: 0.9047 - val_loss: 0.3813 - val_accuracy: 0.9400
Epoch 22/50
20/20 - 0s - loss: 0.4660 - accuracy: 0.9047 - val_loss: 0.3341 - val_accuracy: 0.9400
Epoch 23/50
20/20 - 0s - loss: 0.4516 - accuracy: 0.9047 - val_loss: 0.3106 - val_accuracy: 0.9400
Epoch 24/50
20/20 - 0s - loss: 0.4495 - accuracy: 0.9047 - val_loss: 0.3032 - val_accuracy: 0.9400
Epoch 25/50
20/20 - 0s - loss: 0.4478 - accuracy: 0.9047 - val_loss: 0.3056 - val_accuracy: 0.9400
Epoch 26/50
20/20 - 0s - loss: 0.4455 - accuracy: 0.9047 - val_loss: 0.3154 - val_accuracy: 0.9400
Epoch 27/50
20/20 - 0s - loss: 0.4392 - accuracy: 0.9047 - val_loss: 0.3013 - val_accuracy: 0.9400
Epoch 28/50
20/20 - 0s - loss: 0.4428 - accuracy: 0.9047 - val_loss: 0.3048 - val_accuracy: 0.9400
Epoch 29/50
20/20 - 0s - loss: 0.4457 - accuracy: 0.9047 - val_loss: 0.3100 - val_accuracy: 0.9400
Epoch 30/50
20/20 - 0s - loss: 0.4485 - accuracy: 0.9047 - val_loss: 0.3235 - val_accuracy: 0.9400
Epoch 31/50
20/20 - 0s - loss: 0.4417 - accuracy: 0.9047 - val_loss: 0.3650 - val_accuracy: 0.9400
Epoch 32/50
20/20 - 0s - loss: 0.4542 - accuracy: 0.9047 - val_loss: 0.3397 - val_accuracy: 0.9400
Epoch 33/50
20/20 - 0s - loss: 0.4488 - accuracy: 0.9047 - val_loss: 0.3126 - val_accuracy: 0.9400
Epoch 34/50
20/20 - 0s - loss: 0.4406 - accuracy: 0.9047 - val_loss: 0.3502 - val_accuracy: 0.9400
Epoch 35/50
20/20 - 0s - loss: 0.4407 - accuracy: 0.9047 - val_loss: 0.3130 - val_accuracy: 0.9400
Epoch 36/50
20/20 - 0s - loss: 0.4455 - accuracy: 0.9047 - val_loss: 0.3322 - val_accuracy: 0.9400
Epoch 37/50
20/20 - 0s - loss: 0.4364 - accuracy: 0.9047 - val_loss: 0.3179 - val_accuracy: 0.9400
Epoch 38/50
20/20 - 0s - loss: 0.4418 - accuracy: 0.9047 - val_loss: 0.3094 - val_accuracy: 0.9400
Epoch 39/50
20/20 - 0s - loss: 0.4389 - accuracy: 0.9047 - val_loss: 0.3126 - val_accuracy: 0.9400
Epoch 40/50
20/20 - 0s - loss: 0.4418 - accuracy: 0.9047 - val_loss: 0.3138 - val_accuracy: 0.9400
Epoch 41/50
20/20 - 0s - loss: 0.4413 - accuracy: 0.9047 - val_loss: 0.3176 - val_accuracy: 0.9400
Epoch 42/50
20/20 - 0s - loss: 0.4387 - accuracy: 0.9047 - val_loss: 0.3851 - val_accuracy: 0.9400
Epoch 43/50
20/20 - 0s - loss: 0.4426 - accuracy: 0.9047 - val_loss: 0.3460 - val_accuracy: 0.9400
Epoch 44/50
20/20 - 0s - loss: 0.4464 - accuracy: 0.9047 - val_loss: 0.3235 - val_accuracy: 0.9400
Epoch 45/50
20/20 - 0s - loss: 0.4357 - accuracy: 0.9047 - val_loss: 0.3250 - val_accuracy: 0.9400
Epoch 46/50
20/20 - 0s - loss: 0.4348 - accuracy: 0.9047 - val_loss: 0.3501 - val_accuracy: 0.9400
Epoch 47/50
20/20 - 0s - loss: 0.4455 - accuracy: 0.9047 - val_loss: 0.3525 - val_accuracy: 0.9400
Epoch 48/50
20/20 - 0s - loss: 0.4444 - accuracy: 0.9047 - val_loss: 0.3254 - val_accuracy: 0.9400
Epoch 49/50
20/20 - 0s - loss: 0.4333 - accuracy: 0.9047 - val_loss: 0.3139 - val_accuracy: 0.9400
Epoch 50/50
20/20 - 0s - loss: 0.4256 - accuracy: 0.9047 - val_loss: 0.3178 - val_accuracy: 0.9400

[0.31782492995262146, 0.9399999976158142]