In [1]:
import pandas as pd
url="https://bd29ee0e-54ab-4daa-9671-d153865d1620.usrfiles.com/ugd/bd29ee_9a0760878dc7470aaa032c2cfbce892b.csv"
df=pd.read_csv(url)
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [2]:
df.shape

(59, 7)

In [3]:
y=df[["Result"]]
y.value_counts()

Result
0         31
1         28
dtype: int64

In [4]:
X=df[["Age","Smokes","AreaQ","Alkhol"]]
X.head()

   Age  Smokes  AreaQ  Alkhol
0   35       3      5       4
1   27      20      2       5
2   30       0      5       2
3   28       0      8       1
4   68       4      5       6

In [5]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X=pd.DataFrame(scaler.fit_transform(X),columns=X.columns)
X.head()

        Age    Smokes     AreaQ    Alkhol
0 -0.473821 -1.524356 -0.083321  0.323148
1 -0.970806  0.623016 -1.312310  0.746830
2 -0.784437 -1.903304 -0.083321 -0.524218
3 -0.908683 -1.903304  1.145668 -0.947900
4  1.576244 -1.398040 -0.083321  1.170513

In [6]:
from sklearn import model_selection
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report

In [33]:
from sklearn import svm
import numpy as np
model1=svm.SVC(C=2,random_state=0)
scores=cross_val_score(model1,X,np.asarray(y).reshape(y.shape[0],),cv=3)
print("Accuracy: ",scores.mean(),"+/-",scores.std())

Accuracy:  0.9833333333333334 +/- 0.023570226039551608

A 2-fold cross validation would give the same average accuracy. Standard deviation with 2-fold is 1.7%, 0.7% lower than 3-fold.

In [29]:
scores

array([0.95, 1.  , 1.  ])

In [30]:
y_pred = cross_val_predict(model1, X, np.asarray(y).reshape(y.shape[0],), cv=3)
print("Confusion matrix: \n",confusion_matrix(y,y_pred))

Confusion matrix:
 [[31  0]
 [ 1 27]]

In [31]:
print("Classification report: \n",classification_report(y,y_pred))

Classification report:
               precision    recall  f1-score   support

           0       0.97      1.00      0.98        31
           1       1.00      0.96      0.98        28

    accuracy                           0.98        59
   macro avg       0.98      0.98      0.98        59
weighted avg       0.98      0.98      0.98        59

The model missed only 1 instance.